<div class="search-form">
  <%= form_with(url: tasks_path, method: :get, local: true)  do |form| %>
    <%= form.hidden_field :search, value: 'true' %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title_search %>
    </div>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status_search, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
    </div>
    <div class="label">
      <%= form.collection_check_boxes(:label_ids, current_user.labels + Label.where(user_id: 1), :id, :name) do |b| %>
        <%= b.label { b.check_box + b.text } %>
      <% end %>
    </div>
    <br>
    <div class="actions">
      <%= form.submit 'search',name: nil%>
    </div>
  <% end %>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   並び変え <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to '優先順位', tasks_path(sort_priority_expired: "true") %></li>
    <li><%= link_to '終了期限', tasks_path(sort_expired: "true") %></li>
  </ul>
</div>
<br><br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Limit</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td id='task_row' ><%= task.title %></td>
          <td><%= task.content %></td>
          <td id='limit_row'><%= task.limit %></td>
          <td><%= task.status %></td>
          <td id='priority_row'><%= task.priority %></td>
          <td id="label">
            <% task.labels.each do |label| %>
            <%= label.name %>
            <% end %>
          </td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <%= paginate @tasks %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
