<h1>管理画面のユーザー一覧画面だよ！</h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>Tasks</th>
      <th>ロール</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.tasks.count %></td>
        <% if user.admin == true %>
          <td>管理者</td>
        <% else %>
          <td>一般ユーザー</td>
        <% end %>
        <td id="show"><%= link_to 'show', admin_user_path(user) %></td>
        <td id="Edit"><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td ><%= link_to 'Destroy', admin_user_url(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New', new_admin_user_path %>
