<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header>
      <h1>Task</h1>
      <% if logged_in? %>
        <%= link_to "Profile", user_path(current_user.id) %>
        <%= link_to "Logout", session_path(current_user.id), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Login", new_session_path %>
      <% end %>
      <% if logged_in? %>
        <%= link_to "タスク一覧", tasks_path %>
        <%= link_to 'ラベル一覧', labels_path %>
        <% if current_user.admin == true %>
          <%= link_to "管理者画面", admin_users_path %>
        <% end %>
      <% end %>
      <%= link_to 'ユーザー一覧', users_path if logged_in? %>
      <p id="notice"><%= notice %></p>
      <p><%= alert %></p>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      <h5>©️Task</h5>
    </footer>
  </body>
</html>
